.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98vw;
  border-radius: 10px;
  margin: 10px 0;
  background-color: #aaa;
  min-height: 80vh;
}
.loader {
  position: relative;
  z-index: 1;
}
.grilla {
  color: black;
  width: 100%;
  padding: 10px 0;
}

.table {
  border-collapse: collapse;
  margin: auto;
  width: 95%;
  border-bottom: 1px solid black;
}

.empty,
.activeClass,
.inactiveClass {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0;
  width: 16vw;
}

.interHour {
  border: none;
  border-color: black;
  border-style: solid;
  border-width: 0 1px;
}
.hours {
  border-color: black;
  border-style: solid;
  border-width: 1px 1px 0;
}

.empty {
  width: 5vw;
}
.activeClass {
  background-color: palegreen;
  text-align: center;
  border: 1px solid black;
}

.inactiveClass {
  background-color: #ddd;
  text-align: center;
  border: 1px solid black;
}

.th,
.td {
  max-width: 13vw;
  font-size: 11px;
  height: 2.2vw;
  overflow: hidden;
  text-overflow: ellipsis;
}

.th {
  color: red;
}

.hours {
  vertical-align: top;
  text-align: center;
  width: 5vw;
  font-size: 8px;
}

.modalContent {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.nombreClase {
  color: red;
  font-size: 30px;
  margin: 0;
}

.pInfo {
  font-size: 12px;
  margin: 0;
}

.pProfe {
  margin-top: 45px;
}

.memberTr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border-bottom: 1px dotted black;
}

.memberSpan {
  height: 30px;
  width: 150px;
}

.removeBtn {
  padding: 0;
  height: 35px;
  width: 60px;
  cursor: pointer;
}

.removeBtn:hover {
  color: black;
  background-color: red;
}

.subTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-bottom: 2px solid black;
}

.addBtn {
  padding: 0;
  height: 40px;
  width: 80px;
}

.addBtn:hover {
  background-color: palegreen;
}

.alumnosBtn {
  align-self: center;
  margin-top: 20px;
  background-color: red;
  color: black;
  cursor: pointer;
  border: none;
}

.alumnosBtn:hover {
  color: black;
  background-color: #990000;
}

.newClassBtn {
  width: 35vw;
}

.notAdmin {
  display: none;
}

.deleteClass {
  background-color: red;
}

.activeClass:hover {
  background-color: rgb(183, 248, 177);
  cursor: pointer;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90vw;
    margin: 20px 0;
  }
  .grilla {
    width: 80vw;
    height: 820px;
  }

  .td {
    font-size: 20px;
  }

  .th {
    font-size: 36px;
  }
  .empty,
  .activeClass {
    height: 11px;
    width: 14vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .activeClass {
    border-width: 1px;
  }

  .hours {
    font-size: 24px;
    border-width: 1px 1px 0;
  }
  .deleteClass {
    background-color: red;
  }
}
