.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  height: 59px;
  width: 90vw;
  border-bottom: 1px solid red;
  padding: 0 5vw;
  background-color: black;
  color: white;
}

.menu {
  position: fixed;
  left: 0;
  top: -25px;
  width: 360px;
  padding: 15px 0;
  pointer-events: none;
  background-color: black;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.4s ease;
}

.menuActive {
  position: fixed;
  top: 60px;
  opacity: 1;
  pointer-events: auto;
  transition: top 0.5s ease, opacity 1s ease;
}

.menu .ul {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  display: inline-block;
  margin: 0 1vw;
  font-size: 20px;
}

.li:hover {
  color: red;
  cursor: pointer;
}

.logo {
  position: relative;
  z-index: 1;
  height: 50px;
  width: 50px;
}

.titulo {
  display: flex;
  justify-content: space-between;
  width: 450px;
  height: 50px;
}

.arena {
  display: none;
}

.burgerMenu {
  width: 50px;
  height: 40px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
}

.burgerLine {
  width: 35px;
  height: 4px;
  margin: 7px 7px;
  background-color: white;
  border-radius: 3px;
  transition: 0.3s;
}

.burgerMenuActive {
  background-color: #333;
}

.burgerMenuActive .burgerLine {
  background-color: red;
}

.noBurger {
  display: none;
}

@media only screen and (min-width: 701px) {
  .header {
    height: 70px;
    width: 90vw;
  }

  .titulo {
    height: 60px;
  }

  .logo {
    width: 60px;
    height: 60px;
  }
  .arena {
    display: block;
    font-size: 40px;
    margin: 0;
  }
  .burger {
    display: none;
  }
  .header {
    align-items: end;
  }
}
