.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 98vw;
  color: white;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #924b4b;
  padding-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.7);
}

.titleForm {
  text-align: center;
  color: #924b4b;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.formField {
  display: flex;
  justify-content: space-around;
  row-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
  width: 80vw;
  margin-bottom: 10px;
}

.selectField {
  flex-wrap: wrap;
  height: auto;
}

.formLabel {
  flex: 1;
}

.formInput {
  padding: 0;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  width: 40vw;
  height: 20px;
}

.formSelect {
  width: 80vw;
  height: auto;
}

.divBtns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  width: 70vw;
  height: 50px;
}

.cancelBtn {
  background-color: #924b4b;
  color: white;
}

.addBtn {
  background-color: palegreen;
}

.btn {
  width: 30vw;
  height: 40px;
}

.btn:hover {
  box-shadow: 0 0 5px white;
}

.error {
  display: flex;
  align-items: center;
  height: 30px;
  margin-left: auto;
  width: 80vw;
  background-color: #f23f4285;
  border-radius: 5px;
  font-size: 12px;
  height: 20px;
}

.errorMsg {
  margin-left: 7px;
}

.hidden {
  height: 20px;
  visibility: hidden;
}
