.container {
  width: 98vw;
  color: white;
  margin: 20px;
  border-radius: 10px;
  border: 1px solid #924b4b;
  padding-bottom: 35px;
  background-color: rgba(0, 0, 0, 0.7);
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleList {
  text-align: center;
  color: #924b4b;
}

.th {
  text-align: start;
  width: 20vw;
}

.trHead {
  display: flex;
  width: 90vw;
  justify-content: space-between;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}

.td {
  width: 20vw;
  height: 30px;
  padding: 10px 0px;
}

.addTd {
  padding: 10px 0;
}

.trList {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #998b8b;
}

.trList:hover {
  box-shadow: 2px 2px 4px #924b4b;
}

.divAdd {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-bottom: 20px;
}

.divSearch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
}

.searchInput {
  width: 40vw;
  height: 20px;
  border-radius: 5px;
}

.addBtn {
  font-size: 12px;
  background-color: palegreen;
}

.addBtn:hover {
  background-color: rgb(208, 253, 208);
}
